/ml-server/models/yolo_model_segm.engine
/ml-server/models/yolo_model_segm.pt
/all_printers/
/venv/
/ml-server/models/model_logisticRegression.pkl
/settings.ini
/ml-server/models/
/ml-server/tmp.py
/test_celery.py
/exp/tmp2.py
/exp/
